<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="view/css/style.css">

</head>
<body>
    <header>
        <a class="justify-content-start" href="">
            xem theem >>>
        </a>
    </header>
    <div class="c-container">
        <header class="header">
            <div class="logo">
                <img src="view/img/logo.jpg" alt="">
            </div>
            <div class="nav">
                <nav class="navbar">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Infor me</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="search-menu">
                <div class="search-items">
                    
                    <a href="#"><input type="text" class="search-input"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <a href="#"><i class="fas fa-user"></i></a>
                    
                </div>
            </div>
        </header>
        <!-- end header -->
        <div class="banner">
            <div class="banner-size">
                <div class="image">
                    <img src="view/img/banner.jpg" alt="">
                    <div class="chevron">
                        <button class="chevron-left"><i class="fas fa-chevron-left"></i></button>
                        <button class="chevron-right"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>      
            </div>
        </div>
        <div class="wrapper">
            <main class="main">
                    <section class="article">
                        <div class="list-products">
                            <h3>Danh muc san pham</h3>
                            <div class="form-search__product">
                                <ul class="product__items">
                                    <li class="product__item"><a href="#">Quan ao nam</a></li>
                                    <li class="product__item"><a href="#">Quan ao nam</a></li>
                                    <li class="product__item"><a href="#">Quan ao nam</a></li>
                                    <li class="product__item"><a href="#">Quan ao nam</a></li>
                                    <li class="product__item"><a href="#">Quan ao nam</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-products">
                            <h3>Lọc sản phẩm: </h3>
                                <div class="filter__checkbox">
                                    <input type="checkbox" name="filter-pruduct" id=""> Từ cao đến thấp
                                    <input type="checkbox" name="filter-pruduct" id=""> Từ thấp đến cao <br>
                                    <input type="checkbox" name="filter-pruduct" id=""> Mua nhiều nhất
                                </div>
                        </div>
                    </section>
                    <section class="aside">
                        <div class="product__items">
                        <h2>Sản phẩm bán chạy</h2>
                            <div class="row">
                                <div class=" col-sm-3 my-3">
                                    <div class=" card">
                                        <div class="mx-auto">
                                            <img class="rounded " src="view/img/product-1.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                                <div class=" col-sm-3 my-3">
                                    <div class=" card">
                                        <div class="mx-auto">
                                            <img class="rounded " src="view/img/product-1.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                                <div class=" col-sm-3 my-3">
                                    <div class=" card">
                                        <div class="mx-auto">
                                            <img class="rounded " src="view/img/product-4.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                                <div class=" col-sm-3 my-3">
                                    <div class="card">
                                        <div class="mx-auto">
                                            <img class="rounded" src="view/img/product-3.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                            </div> 
                            <!-- end row -->
                            <h2>Sản phẩm bán chạy</h2>
                            <div class="row">
                                <div class=" col-sm-3 my-3">
                                    <div class=" card">
                                        <div class="mx-auto">
                                            <img class="rounded " src="view/img/product-1.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                                <div class=" col-sm-3 my-3">
                                    <div class=" card">
                                        <div class="mx-auto">
                                            <img class="rounded " src="view/img/product-1.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                                <div class=" col-sm-3 my-3">
                                    <div class=" card">
                                        <div class="mx-auto">
                                            <img class="rounded " src="view/img/product-4.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                                <div class=" col-sm-3 my-3">
                                    <div class="card">
                                        <div class="mx-auto">
                                            <img class="rounded" src="view/img/product-3.jpg" alt="" width="150">
                                            <div class="btn__mandate">
                                                <button class=" btn buy__product">Mua</button>
                                                <button class=" btn add__cart"><i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Tiêu để sản phẩm daif oiw laf jdaoia jkwjakdjkjk</p>
                                            Giá: <span class="price__product">120.000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end product -->
                            </div> 
                            <!-- end row -->

                        </div>
                    </section>
            </main>
        </div>
        <footer class="footer">
            hello
        </footer>
    </div>

</body>

</html>